<h4> Here is your trip! </h4>
<br>
<div>
  <strong>Trip Name:</strong> <%= @trip.name %><br>
  <strong>Start Date:</strong> <%= @trip.start_date %><br>
  <strong>End Date:</strong> <%= @trip.end_date %>
</div>
<br>

<h5>Destinations</h5>

<% @trip.destinations.each do |d| %>
  <div>
  <strong>Name: </strong><%= d.name %><br>
  <strong>Location: </strong><%= d.location %><br>
  <strong>Description: </strong><% d.description %><br>
  <%= link_to 'Edit', edit_trip_destination_path(@trip)%>
  </div>
<br>
  <% end %>

<br>
<ul>
  <li><%= link_to 'Add Destination', new_destination_path(@destination) %></li>
  <li><%= link_to "Add another trip", new_trip_path(@trip) %></li>
  <li><%= link_to "Edit this trip", edit_trip_path(@trip) %></li>
</ul>


