<br>
<% if user_signed_in? %>
  <h4><strong>Here is Your Trip, <%= current_user.email%>!</h4>
  <% end %>
<br>
<div>
  <strong>Trip Name:</strong> <%= @trip.name %><br>
  <strong>Start Date:</strong> <%= @trip.start_date %><br>
  <strong>End Date:</strong> <%= @trip.end_date %>
</div>
<br>

<h5>Destinations:</h5>
<div>
<% @trip.destinations.each do |d| %>
  
  <strong>Name: </strong><%= link_to d.name, trip_destination_path(@trip, d) %><br>
  <strong>Location: </strong><%= d.location %><br>
  <%= link_to 'Edit', edit_destination_path(d)%> &nbsp;    
  <%= link_to 'Delete', destination_path(d), method: :delete %>
  <br>
  <br>
  <% end %>
  </div>
 
<div>
  <li><%= link_to 'Add Destination', new_trip_destination_path(@trip) %> 
  <li><%= link_to "Edit this trip", edit_trip_path(@trip) %>  
<br>
  <li><%= link_to "Add a new trip", new_trip_path(@trip) %> 

</div>
<br>
