<br>
<% if user_signed_in? %>
  <h4><strong>Here is your trip, <%= current_user.email%>!</h4>
  <% end %>
<br>
<div>
  <strong>Trip Name:</strong> <%= @trip.name %><br>
  <strong>Start Date:</strong> <%= @trip.start_date %><br>
  <strong>End Date:</strong> <%= @trip.end_date %>
</div>
<br>

<h5>Destinations:</h5>

<% @trip.destinations.each do |d| %>
  <div>
  <strong>Name: </strong><%= d.name %><br>
  <strong>Location: </strong><%= d.location %><br>
  <strong>Description: </strong><%= d.description %><br>
  <%= link_to 'Edit', edit_trip_destination_path(@trip)%><br>
  <br>
  <% end %>
  </div>
 

  <li><%= link_to 'Add Destination', new_destination_path(@destination) %> 
  <li><%= link_to "Edit this trip", edit_trip_path(@trip) %>  
<br>
  <li><%= link_to "Add a new trip", new_trip_path(@trip) %> 


