<h4>Add a note about your destination</h3>
<br>
<br>
<h6>
<br>
<%= form_for (@note) do |f| %>
  <%= f.hidden_field :destination_id, value: @destination.id %>

  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <br>
  <%= f.submit "Create" %>
  <% end %>
  <br>
  <br>
  <br>