<br>
<h5>Here is your destination:</h5>
<br>
<strong>Name:</strong> <%= @destination.name %><br>
<strong>Location:</strong> <%= @destination.location %><br>
<strong>Description:</strong> <%= @destination.description %><br>
<br>
<%= button_to "Delete", destination_path(@destination), method: :delete %>

<br>

<h5>Other trips where you visit this destination:</h5>
  <ul>
    <% @destination.trips.each do |trip| %>
      <% if trip.user == current_user %>
      <li><%= trip.name %></li>
      <% end %>
    <% end %>
  </ul>
  <br>

OPTIONS:
<ul>
  <li><%= link_to "Add a Note", new_destination_note_path(@destination) %></li>
  <li><%= link_to "See Notes", destination_notes_path(@destination) %></li> 
  <li><%= link_to "Edit this Destination", edit_destination_path(@destination) %></li>

  <li><%= link_to "See all Destinations in this Trip", trip_destinations_path(@destination.trips) %></li>
</ul>
<br>


<br>
