<h3>Add a location</h3>
<br>
<br>

  Edit Location:

<%= form_for (@location) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Update" %>
  
  <% end %>
  <br>
  <br>
  <br>